language: vim
# trusty has cmake >= 2.8.12
dist: trusty

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - kubuntu-backports
    packages:
    - g++-4.7
    - cmake

before_script:
  - git clone https://github.com/junegunn/vader.vim.git
  - cmake --version

script:
    - vim -Nu 'test/.vimrc' -c 'Vader! test/cmake.vader' > /dev/null
    - vim -Nu 'test/.vimrc' -c 'Vader! test/cmake_quickfix.vader' > /dev/null
